@mixin bold-font() {
  font-family: "brandon-grotesque",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

@mixin bar( $bar-height: .25rem, $bar-width: 100%, $bar-color: $white ) {
  position: relative;
  &::after {
    content: "";
    border-bottom: $bar-height solid rgba($bar-color, .75);
    position: absolute;
    bottom: .5rem;
    left: 0;
    width: $bar-width;
    transition: opacity .25s, color .25s;
    @media (min-width: 52rem) {
      bottom: .75rem;
    }
  }
}

@mixin image-overlay( $color: $navy ) {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($navy, .8);
    pointer-events: none;
  }
}