---
title: Writing
permalink: "/writing/"
layout: page
---

{% for post in site.posts %}
<article class="mt-16">
  <a class="block" href="{{post.url}}">
    <h2 class="text-4xl lg:text-6xl font-sans font-bold tracking-tight">
      {{ post.title }}
    </h2>

    <time class="block mt-2" datetime="{{post.date}}">
      {{ post.date | date: "%b %-d, %Y" }}
    </time>
  </a>

  <div class="mt-8">
    {% if post.description %}
    <p>{{ post.description }}</p>
    {% else %} {{ post.excerpt }} {% endif %}
  </div>
</article>
{% endfor %}
