@mixin bold-font() {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

  html.wf-active & {
    font-family: 'Poppins';
  }
}

@mixin image-overlay( $color: $navy ) {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($navy, .8);
    pointer-events: none;
  }
}