<footer class="py-4 bg-slate-50 dark:bg-neutral-900 dark:text-slate-50 dark:border-t-2 dark:border-zinc-800" role="contentinfo">
    <div class="max-w-7xl mx-auto px-8 lg:px-0 lg:flex lg:flex-wrap lg:items-center">
        <p class="block font-sans tracking-tight text-lg">
            &copy; {{ site.time | date: '%Y' }} Justin Conway
        </p>

        <nav class="ml-auto text-xs lg:text-base mt-2 lg:mt-0">
            <ul class="pl-0 flex flex-wrap">
                {% for social in site.footer_social %}
                    <li class="mt-0">
                        <a target="_blank" class="block p-2 underline font-mono" rel="noreferrer" href="{{social.url}}">
                            {{social.name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</footer>