<footer class="py-4" role="contentinfo">
    <div class="max-w-7xl mx-auto px-4 lg:flex lg:flex-wrap lg:items-center">
        <small class="block">
            &copy; {{ site.time | date: '%Y' }} Justin Conway
        </small>

        <div class="ml-auto flex">
            {% for social in site.footer_social %}
                <a target="_blank" class="block text-black hover:text-blue-600" rel="noreferrer" href="{{social.url}}" title="{{social.name}}">
                    <svg class="block w-10 h-10" fill="currentColor" height="40" width="40" viewBox="0 0 512 512">
                        {{social.svg_path}}
                    </svg>

                    <span class="sr-only">click to access justin conway's {{social.name}}</span>
                </a>
            {% endfor %}
        </div>
    </div>
</footer>