<footer class="footer" role="contentinfo">
    <div class="wrapper">
        <div class="footer__info">
            <div class="row row--center">
                <div class="column column--split">
                    <p class="footer__copy">
                        &copy; {{ site.time | date: '%Y' }} Justin Conway
                    </p>
                </div>

                <div class="column column--split">
                    <div class="footer__social">
                        <a href="https://twitter.com/conwaydev" target="_blank" rel="noreferrer">
                            <svg>
                                <title>Twitter</title>
                                <use xlink:href="#twitter"></use>
                            </svg>
                        </a>

                        <a href="https://github.com/conwaydev/" target="_blank" rel="noreferrer">
                            <svg>
                                <title>GitHub</title>
                                <use xlink:href="#github"></use>
                            </svg>
                        </a>

                        <a href="http://codepen.io/conwaydev/" target="_blank" rel="noreferrer">
                            <svg>
                                <title>CodePen</title>
                                <use xlink:href="#codepen"></use>
                            </svg>
                        </a>

                        <a href="https://www.linkedin.com/in/justin-conway-a2260a94" target="_blank" rel="noreferrer">
                            <svg>
                                <title>LinkedIn</title>
                                <use xlink:href="#linkedin"></use>
                            </svg>
                        </a>

                        <a href="mailto:justin@conwaydev.com" title="Email" target="_blank" rel="noreferrer">
                            <svg>
                                <title>Email Justin Conway</title>
                                <use xlink:href="#message"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
