<header class="sticky bg-white pin-t pin-l pin-r py-4 font-normal relative">
    <a href="#content" class="sr-only absolute pin-t pin-l bg-black hover:text-blue text-white p-2">
        Skip to main content
    </a>

    <div class="max-w-7xl mx-auto px-4 lg:flex lg:items-center">
        <a class="flex items-center no-underline text-black hover:text-blue-600 p-2" href="/">
            <svg class="block mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 174 172"><path d="M0 0v172c47.5 0 86-38.5 86-86V0H0zM88 86c0 47.5 38.5 86 86 86V0c-47.5 0-86 38.5-86 86z"/></svg>

            <span class="poppins block">Justin Conway</span>

            <span class="hidden lg:block">&nbsp;•&nbsp;Engineering Manager</span>
        </a>

        <nav class="hidden lg:block ml-auto">
            <ul class="list-none flex">
                {% for link in site.navigation %}
                    <li class="ml-4 mt-0">
                        <a class="text-blue-700 hover:text-blue-800 p-2" href="{{link.url}}">
                            {{link.title}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>