<header class="header">
  <div class="wrapper">
    <div class="row">
      <div class="col-md-6" style="min-width: 0;">
        <a class="header--title" href="{{ site.baseurl }}/">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 174 172"><path d="M0 0v172c47.5 0 86-38.5 86-86V0H0zM88 86c0 47.5 38.5 86 86 86V0c-47.5 0-86 38.5-86 86z"/></svg>

          Justin Conway • Chicago-based Front End Developer
        </a>
      </div>
      <div class="col-md-6">
        <nav class="header--nav">
          <ul>
            {% for my_page in site.pages %}{% if my_page.title %}<li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>{% endif %}{% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
