.intro {
  background: $yellow;
  color: $black;

  &__description {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @media (min-width: 52rem) {
      padding-top: 4rem;
    }
  }

  &__title {
    color: $navy;
  }
}
