html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Adobe Garamond Pro', Georgia, serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
strong {
  @include bold-font;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  transition: all .25s;
  text-decoration: none;
  svg {
    transition: fill .25s;
  }
  img {
    transition: opacity .25s;
  }
}

pre {
  display: block;
  background: $grey;
  color: $yellow;
  padding: 1rem;
  overflow: auto;
}

.scr-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.wrapper {
  display: block;
  position: relative;
  padding: 0 1rem;
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  @include make-row();
  margin-left: 0;
  margin-right: 0;
  .no-flexbox & {
    display: table;
    width: 100%;
    border-collapse: collapse;
    vertical-align: middle;
  }
}

.column {
  @include make-col-ready(12);
  &._split {
    @media (min-width: 52rem) {
      @include make-col(6);
      .no-flexbox & {
        display: table-cell;
        width: 50%;
      }
    }
  }
}

.section {
  a {
    color: $blue;
    &:hover {
      color: $navy;
    }
  }
  &._gray {
    background: $light-grey;
  }
  &._padded {
    padding: 2rem 0;
    @media (min-width: 52rem) {
      padding: 4rem 0;
    }
  }
}

.Tweets {
  display: none;
  background: $grey;
  @media (min-width: 52rem) {
    display: block;
  }
  &--container {
    padding: 2rem 0;
    @media (min-width: 52rem) {
      > * {
        width: 100% !important;
      }
    }
  }
  h4 {
    color: $yellow;
    margin-top: 0;
  }
}

