*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'adobe-garamond-pro', Garamond, Georgia, serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
strong {
  @include bold-font;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  transition: all .25s;
  text-decoration: none;
  svg {
    transition: fill .25s;
  }
  img {
    transition: opacity .25s;
  }
}

.button {
  @include bold-font;
  font-size: $font-size-small;
  background: $navy;
  padding: .5rem 1rem;
  color: $white;
  &:hover {
    background: $actual-blue;
  }
  &._white {
    background: $white;
    color: $navy;
    &:hover {
      background: $yellow;
    }
  }
  &._large {
    padding: 1rem 2rem;
    font-size: $font-size-medium;
  }
}

pre {
  display: block;
  background: $grey;
  color: $yellow;
  padding: 1rem;
  overflow: auto;
}

.scr-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.wrapper {
  display: block;
  position: relative;
  padding: 0 1rem;
  max-width: 1440px;
  margin: 0 auto;
}

.row {
  @include make-row();
  margin-left: 0;
  margin-right: 0;
  &._center {
    align-items: center;
  }
}

.column {
  @include make-col-ready(12);
  &._split {
    @media (min-width: 52rem) {
      @include make-col(6);
    }
  }
}

.section {
  &._gray {
    background: $light-grey;
  }
  &._navy {
    background: $navy;
    color: $white;
  }
  &._padded {
    padding: 2rem 0;
    @media (min-width: 52rem) {
      padding: 4rem 0;
    }
  }
}

.Tweets {
  display: none;
  background: $grey;
  @media (min-width: 52rem) {
    display: block;
  }
  &__container {
    padding: 2rem 0;
    @media (min-width: 52rem) {
      > * {
        width: 100% !important;
      }
    }
  }
  h3 {
    font-size: $font-size-base;
    color: $yellow;
    margin-top: 0;
  }
}

