html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Adobe Garamond Pro', Georgia, serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
strong {
  @include bold-font;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  transition: all .25s;
  text-decoration: none;
  svg {
    transition: fill .25s;
  }
  img {
    transition: opacity .25s;
  }
}

pre {
  display: block;
  background: $grey;
  color: $yellow;
  padding: 1rem;
  overflow: auto;
}

.scr-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.wrapper {
  display: block;
  position: relative;
  padding: 0 1rem;
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  a {
    color: $blue;
    &:hover {
      color: $navy;
    }
  }
}
.section._gray {
  background: $light-grey;
}
.section._padded {
  padding: 4rem 0;
}
.section._flushed .row {
  margin-left: 0;
  margin-right: 0;
  > * {
    padding-left: 0;
    padding-right: 0;
  }
}

.Tweets {
  display: block;
  background: $grey;
  &--container {
    padding: 1rem;
  }
  h4 {
    color: $yellow;
    margin-top: 0;
  }
  @media (min-width: 52rem) {
    #twitter-widget-0 {
      width: 100% !important;
    }
  }
}

.section-title {
  display: inline-block;
  background: $navy;
  font-size: 1.25rem;
  color: $white;
  border-bottom: 2px solid $yellow;
  margin: 0;
  padding: 1rem 2rem;
  font-weight: 700;
}