$font-size-small: .75rem !default;
$font-size-base: 1.125rem !default;
$font-size-extra-large: 3.157rem !default;
$font-size-large: 2.369rem !default;
$font-size-medium: 1.777rem !default;

html {
  font-size: 1rem;

  @media (min-width: 52rem) {
    font-size: $font-size-base;
  }
}

body {
  line-height: 1.45;
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 1.414em 0 .5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;

  @media (min-width: 52rem) {
    font-size: $font-size-extra-large;
  }
}

h2 {
  font-size:$font-size-large;
}

h3 {
  font-size: $font-size-medium;
}

h4 {
  font-size: 1.333em;
}

small,
.font_small {
  font-size: $font-size-small;
}

ul,
ol {
  padding-left: 1rem;
}
