$font-size-small: 0.707rem;
$font-size-base: 1.5rem;
$font-size-extra-large: 3.998rem;
$font-size-large: 2.827rem;
$font-size-medium: 1.999rem;

@font-face {
  font-family: 'Adobe Garamond Pro';
  src: url('/assets/fonts/Adobe Garamond Pro.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/Adobe Garamond Pro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/Adobe Garamond Pro.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/Adobe Garamond Pro.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/Adobe Garamond Pro.svg#1eabc8b27c1d378ed9b1f5dd58b5095c') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('/assets/fonts/gt-walsheim-bold-web.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/gt-walsheim-bold-web.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/gt-walsheim-bold-web.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/gt-walsheim-bold-web.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/gt-walsheim-bold-web.svg#bdf76190e7d3b4d381fd92e43e1b9dc0') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}



html {
  font-size: 1.35rem;

  @media (min-width: 52rem) {
    font-size: $font-size-base;
  }
}

body {
  line-height: 1.45;
}

ul,
ol,
figure,
p {
  margin-bottom: 1.3rem;
}

ul,
ol {
  padding-left: 1rem;
}

h1,
h2,
h3,
h4 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: $font-size-large;
  @media (min-width: 52rem) {
    font-size: $font-size-extra-large;
  }
}

h2 {
  font-size: $font-size-large;
}

h3 {
  font-size: $font-size-medium;
}

small,
.font_small {
  font-size: $font-size-small;
}
