@tailwind base;
@tailwind components;

a {
    text-decoration: underline;
}

body {
    font-family: "Roboto Mono", "Andale Mono", "PT Mono", monospace;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
  @apply text-5xl;
  @apply font-bold;
  @apply text-gray-700;
  font-family: 'Poppins', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

h2 {
  @apply text-3xl;
  @apply font-bold;
  font-family: 'Poppins', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

h3 {
  @apply text-2xl;
  @apply font-bold;
  @apply text-gray-700;
  font-family: 'Poppins', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

h4 {
  @apply text-xl;
  @apply font-bold;
  font-family: 'Poppins', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

h1 + * {
    @apply mt-6;
}

h2 + *,
h3 + *,
h4 + *,
ol + *,
ul + *,
p + *,
blockquote + *,
iframe + * {
    @apply mt-5;
}

li + li {
    @apply mt-4;
}

header .sr-only:focus {
    height: auto;
    width: auto;
    margin: 0;
    clip: auto;
}

@tailwind utilities;
