@tailwind base;
@tailwind components;
@tailwind utilities;

h2,
h3,
h4,
h5,
h6 {
    @apply font-sans;
}

h2 {
    @apply text-3xl;
}

h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + *,
p + *,
img + *,
ul + * {
    @apply mt-8;
}

li + li {
    @apply mt-4;
}

[class^='lg:text-'], 
[class*='lg:text-']{
    @apply leading-loose;
}

header .sr-only:focus {
    height: auto;
    width: auto;
    margin: 0;
    clip: auto;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
}

pre {
  display: block;
  overflow: auto;
  width: 100%;
}

