@tailwind base;
@tailwind components;

html {
    font-size: 1rem;
}

body {
    font-family: "Roboto Mono", "Andale Mono", "PT Mono", monospace;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.45;
}

p {
    margin-bottom: 1.3em;
}

h1 {
    margin: 1.414em 0 .5em;
    font-weight: inherit;
    line-height: 1.2;
}

h2 {
  margin: 1.414em 0 .5em;
  font-weight: inherit;
  line-height: 1.2;
}

h3 {
  margin: 1.414em 0 .5em;
  font-weight: inherit;
  line-height: 1.2;
}

h4 {
  margin: 1.414em 0 .5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-family: 'Poppins', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
}

h2 {
  font-family: 'Poppins', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
}

h3 {
  font-family: 'Poppins', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
}

h4 {
  font-family: 'Poppins', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 600;
}

h1 {
    font-size: 2.369rem;
    margin-top: 0;
}

h2 {
    font-size: 1.777rem;
}


h3 {
    font-size: 1.777rem;
}

h4 {
    font-size: 1.333em;
}

small {
    font-size: .75rem;
}


@media (min-width: 52rem) {
    html {
        font-size: 1.125rem;
    }
    h1 {
        font-size: 3.157rem;
    }
    h2 {
        font-size: 2.369rem;
    }
}

@tailwind utilities;
