*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Andale Mono", "PT Mono", monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  html.wf-active & {
    font-family: "Roboto Mono", "Andale Mono", "PT Mono", monospace;
  }
}

h1,
h2,
h3,
h4 {
  @include bold-font;
}

strong {
  font-weight: 600;
}

figure {
  margin: 0;
}

svg,
img {
  display: block;
  height: auto;
  max-width: 100%;
}


.image {
  &--bordered {
    border-radius: 3px;
    border: 1px solid $white;
  }
}

a {
  color: inherit;
  word-break: break-word;
  transition: color .25s, background .3s;

  text-decoration-skip: ink;

  svg {
    transition: fill .25s;
  }

  img {
    transition: opacity .25s;
  }
}

pre {
  display: block;
  padding: 1rem;
  overflow: auto;
  color: $yellow;
  background: $grey;
}

.scr-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  color: inherit;
}

.twitter-timeline {
  display: none;
  width: 100% !important;
  @media (min-width: 52rem) {
    display: block;
  }
}

.button {
  @include bold-font;

  color: $white;
  text-decoration: none;
  background: $actual-blue;
  padding: .5rem 1rem;

  &:hover {
    background: $navy;
  }

  &--white {
    color: $navy;
    background: $white;

    &:hover {
      background: $yellow;
    }
  }
}
