.header {
  padding: 1rem 0;
  a {
    color: $navy;
    &:hover {
      color: $blue;
    }
  }

  &__title {
    display: inline-block;
    font-size: $font-size-small;
    &:hover svg {
      fill: $yellow;
    }
  }

  &__title svg {
    display: none;
    vertical-align: middle;
    fill: $blue;
    @media (min-width: 52rem) {
      display: inline-block;
      width: 20px;
      height: 20px;
    }
  }
}
