---
layout: default
---

<article class="Project section _padded _gray">
    <div class="wrapper">
        <div class="row">
            <div class="col-xs-12 col-md-8" style="margin: 0 auto;">
                <div class="row">
                    <div class="col-xs-12 col-md-3">
                        <header class="Project__header">
                            <h1 class="Project__title">{{ page.title }}</h1>

                            <figure class="Project__image">
                                <img src="{{ page.thumbnail }}" alt="{{ page.title }}">
                            </figure>

                            <p class="Project__description">{{page.short-description}}</p>
                        </header>
                    </div>

                    <div class="col-xs-12 col-md-9">
                        <div class="Project__content">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
