.footer {
  background: $navy;
  color: $white;
  padding: 1rem 0;
  .row {
    align-items: center;
  }
  &__info {
    background: $blue;
    padding: .5rem;
    font-size: $font-size-small;
  }
  &__social {
    display: flex;
    @media (min-width: 52rem) {
      > *:first-child {
        margin-left: auto;
      }
    }
  }
  &__social a {
    display: inline-block;
    svg {
      fill: $yellow;
      display: block;
      height: 30px;
      width: 30px;
      @media (min-width: 52rem) {
        height: 40px;
        width: 40px;
      }
    }
    &:focus svg,
    &:hover svg {
      fill: $navy;
    }
  }
}
