.header {
  padding: 1rem 0;
  a {
    color: $navy;
    &:hover {
      color: $blue;
    }
  }
  &__title {
    @include bold-font;
    display: block;
    font-size: $font-size-small;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    &:hover svg {
      fill: $yellow;
    }
  }
  &__title svg {
    display: none;
    vertical-align: middle;
    fill: $blue;
    @media (min-width: 52rem) {
      display: inline-block;
    }
  }
  &__title-addon {
    display: none;
    @media (min-width: 52rem) {
      display: inline-block;
    }
  }
}