.Intro {
  background: $yellow;
  color: $black;
  &__description {
    padding: 2rem 0;
    a {
      @include bold-font;
      color: $navy;
      &:hover {
        color: $blue;
      }
    }
  }
  &__portrait {
    @include image-overlay;
    display: block;
    background: url('/assets/me.jpg') top center no-repeat / cover;
    padding-bottom: 50%;
    @media (min-width: 52rem) {
      padding-bottom: 0;
    }
  }
  &__title {
    @include bar;
    color: $navy;
    @media (min-width: 52rem) {
      margin-bottom: 2.3rem;
      font-size: 4.5rem;
    }
  }
}