.Intro {
  background: $yellow;
  color: $black;
  &__description {
    padding: 4rem 0;
  }
  &__portrait {
    @include image-overlay;
    display: block;
    background: url('/assets/me.jpg') top center no-repeat / cover;
    padding-bottom: 50%;
    @media (min-width: 52rem) {
      padding-bottom: 0;
    }
  }
  &__title {
    color: $navy;
  }
}