.Posts {
  padding: 2rem 1rem;
}

.Post {
  h2,
  h3,
  h4 {
    color: $navy;
  }
  h2,
  h3,
  h4,
  figure,
  pre {
    margin-bottom: 1.3rem;
  }
  &--date {
    @include serif-font;
    position: relative;
    font-size: $font-size-small;
    color: $navy;
    border-top: 3px solid $blue;
    display: inline-block;
    padding-top: .5rem;
  }
  &--title {
    margin-top: 0;
    color: $blue;
    a {
      display: block;
    }
  }
}