.Posts {
  background: $white;
  padding: 2rem 0;
  .Post + .Post {
    margin-top: 2rem;
  }
}

.Post {
  max-width: 38rem;
  margin: 0 auto;
  a {
    color: $actual-blue;
    &:hover {
      color: $navy;
    }
  }
  h2,
  h3,
  h4 {
    color: $navy;
  }
  h2,
  h3,
  h4,
  figure,
  pre {
    margin-bottom: 1.3rem;
  }
  blockquote {
    border-left: 3px solid $grey;
    padding-left: 1.3rem;
    color: $grey;
  }
  &__date {
    @include bold-font;
    position: relative;
    font-size: $font-size-small;
    color: $navy;
    border-top: 3px solid $blue;
    display: inline-block;
    padding-top: .25rem;
  }
  &__title {
    a {
      display: block;
    }
    font-size: $font-size-medium;
    margin-top: 0;
    color: $blue;
    &._large {
      @media (min-width: 52rem) {
        font-size: $font-size-large;
      }
    }
  }
  &__content {
    margin-top: 1.3rem;
    * + p,
    * + blockquote {
      margin-top: 1.3rem;
    }
    iframe {
      display: block;
      max-width: 100%;
      margin: 2.6rem auto;
    }
  }
}