.Posts {
  padding: 2rem 1rem;
}

.Post {
  h2,
  h3,
  h4 {
    color: $navy;
  }
  h2,
  h3,
  h4,
  figure,
  pre {
    margin-bottom: 1.3rem;
  }
  blockquote {
    border-left: 3px solid $grey;
    padding-left: 1.3rem;
    color: $grey;
  }
  &--date {
    @include serif-font;
    position: relative;
    font-size: $font-size-small;
    color: $navy;
    border-top: 3px solid $blue;
    display: inline-block;
    padding-top: .5rem;
  }
  &--title {
    margin-top: 0;
    color: $blue;
    a {
      display: block;
    }
  }
  &--content {
    margin-top: 1.3rem;
    * + p,
    * + blockquote {
      margin-top: 1.3rem;
    }
    iframe {
      display: block;
      max-width: 100%;
      margin: 2.6rem auto;
    }
  }
}