@mixin bold-font() {

}

@mixin image-overlay( $color: $navy ) {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($navy, .8);
    pointer-events: none;
  }
}